<div style="text-align: center;">
  <h1> ENTER YOUR NAME AND POSTS:</h1>

  <form action="/posts" method="post">
    <p>Name: <input type="text" name="name"></p>
    <p>Post:</p>
    <p> <textarea name="content" cols="40" rows="5"> </textarea></p>
    <input id="submit" type="submit" value="submit">
  </form>
</div>
